@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* home */

.home {
    display: flex;
    flex-wrap: wrap;
}

.logo-home {
    display: flex;
    height: 150px;
    width: 150px;
    padding-right: 100px;
}

/* cabecalho */

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: #542596;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

/* menu principal */

.menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #b480fb;
    width: 100%;
}

.menu-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eba82f;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    text-decoration: none;
}

.menu-botao:hover {
    background-color: rgb(245, 206, 133);
    transition: background-color 0.3s ease-in-out;
}

.link-botao-menu {
    text-decoration: none;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

/* rodape */

.container-rodape {

    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #b7adc5;

}

/* notfound */

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}