@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* home */

.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo-home {
    display: flex;
    height: 150px;
    width: 150px;
    padding-right: 100px;
}

.home-netflix {
    width: 100%;
    height: 600px;
    background-color: #E3CCAE;
}

/* cabecalho */

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: #262A56;
    width: 100%;
}

.cabecalho-login img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

/* menu principal */

.menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.menu-botao a{
    color: #fffffff0;
    font-size: 1.7rem;
}
.menu-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D39643;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    text-decoration: none;
}

.menu-botao:hover {
    background-color: rgb(210, 148, 31);
    transition: background-color 0.3s ease-in-out;
    
}

.link-botao-menu {
    text-decoration: none;
    color: black;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

/* rodape */

.container-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: #262A56;
    margin-top: auto;
    padding-bottom: 10px;
    color: white;
    font-size: 16px;
}

.logo-rodape {
    width: 90px;
}

/* notfound */

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

/* cardEvento */

.card-evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 1200px;
    height: 500px;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.226);
}

/*Filtro do estilos de eventos*/

.container-filtro {
    top: 180px;
    width:100%;
    height: 80px;
    padding: 20px;
    background-color: #E3CCAE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .filtro-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8621B;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 40px;
    width: 200px;
    text-decoration: none;
    margin: 30px;
}

.filtro-botao:hover {
    background-color: #ec964e;
    transition: background-color 0.3s ease-in-out;
    
}

/* -- Inicio Home -- */


/* -- Inicio Card home Netflix -- */

.menu-netflix{
    background-color: #ec964e;
}

.menu-netflix img{
    width: 30vw;
    height: 600px;
    border-radius: 22px;
}

.netflix-menu-card{
    display: flex;
    justify-content:space-around;
    padding: 1rem;
}

/* -- Fim Card home Netflix -- */

.texto-menu{
    display: flex;
    justify-content: center;
}

.texto-menu img{
    height: 800px;
    width: 80%
}

.menu-cadastrar-evento{
    display: flex;
    justify-content: center;
}

.menu-cadastrar-caixa{
    margin: 2rem;
    background-color: #262A56;
    border-radius: 22px;
    padding: 2rem;
    text-align: center;
    width: 80%;
}

.menu-cadastrar-caixa h2{
    color: #B8621B;
    font-size: 96px;
    text-decoration: underline;
}

.menu-cadastrar-caixa p{
    margin-top: 2.5rem;
    color: white;
    font-size: 40px;
    font-style: italic;
}

.menu-cadastrar-caixa button{
    margin-top: 2.5rem;
    text-decoration: none;
    background-color: #D39643;
    color: white;
    font-size: 64px;
    padding: 1rem;
    border-radius: 14px; 
}


/*botao de login do cabeçalho*/

.botaologin-container {
    position: relative;
  }
  
  .botaologin {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .imagembotaologin {
    width: 50px;
    height: 50px;
  }
  
  .botaologin-form {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #D39643;
    border-radius: 15px;
    width: 250px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .fotologin {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  
  .botaologin-form-div1 {
    margin-bottom: 15px;
  }
  
  .botaologin-form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .botaologin-submit {
    width: 100%;
    height: 50px;
    background-color: #262A56;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .botaologin-submit:hover {
    background-color: #4a4c63;
  }
