@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* home */

.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo-home {
    display: flex;
    height: 150px;
    width: 150px;
    padding-right: 100px;
}

.home-netflix {
    width: 100%;
    height: 600px;
    background-color: #E3CCAE;
}

/* cabecalho */

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: #262A56;
    width: 100%;
}

.cabecalho-login img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

/* menu principal */

.menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.menu-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D39643;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    text-decoration: none;

}

.menu-botao:hover {
    background-color: rgb(245, 206, 133);
    transition: background-color 0.3s ease-in-out;
    
}

.link-botao-menu {
    text-decoration: none;
    color: black;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

/* rodape */

.container-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: #262A56;
    margin-top: auto;
    padding-bottom: 10px;
    color: white;
    font-size: 16px;
}

.logo-rodape {
    width: 90px;
}

/* notfound */

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

/* cardEvento */

.card-evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    margin: 30px;
}

/*Filtro do estilos de eventos*/

.container-filtro {
    position: fixed;
    top: 180px;
    left: 10px;
    width: 250px;
    padding: 20px;
    border: 2px solid #050505;
    border-radius: 10px;
  }